<aside class="z-20 hidden w-64 overflow-y-auto bg-white md:block flex-shrink-0">
  <a class="ml-6 text-xl font-bold text-gray-800" href="#">
    <div class="ml-2 font-semibold text-[#001a34]">
      Mafseal<span class="mx-1 text-[#0da574]">Construction</span>
    </div>
  </a>
  <div class="py-4 text-gray-500">
    <ul class="mt-6">
      <li class="relative px-6 py-3 hover:bg-[#f2f2f285]">
        <span
          class="absolute inset-y-0 left-0 w-1 bg-[#001a34] rounded-tr-lg rounded-br-lg"
          aria-hidden="true"
        ></span>
        <a
          class="inline-flex items-center w-full text-sm font-semibold text-gray-800 transition-colors duration-150 hover:text-gray-800"
          href="/admin"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
            ></path>
          </svg>
          <span class="ml-4">Dashboard</span>
        </a>
      </li>
    </ul>
    <ul>
      <li class="relative px-6 py-3 hover:bg-[#f2f2f285]">
        <a
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800"
          href="/form"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
            ></path>
          </svg>
          <span class="ml-4">Forms</span>
        </a>
      </li>
      <li class="group relative px-6 py-3 hover:bg-[#f2f2f285]">
        <a
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 group-hover:text-gray-800"
          href="buttons.html"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="24"
            height="24"
            viewBox="0,0,255.98959,255.98959"
            style="fill: #000000"
          >
            <g
              fill-opacity="0.7098"
              fill="#6a6b6c"
              fill-rule="nonzero"
              stroke="none"
              stroke-width="1"
              stroke-linecap="butt"
              stroke-linejoin="miter"
              stroke-miterlimit="10"
              stroke-dasharray=""
              stroke-dashoffset="0"
              font-family="none"
              font-weight="none"
              font-size="none"
              text-anchor="none"
              style="mix-blend-mode: normal"
              class="transition-colors duration-150 group-hover:text-gray-800 text-gray-500"
            >
              <g transform="scale(10.66667,10.66667)">
                <path
                  d="M12,2c-0.828,0 -1.5,0.672 -1.5,1.5v0.69531c-2.58682,0.66678 -4.5,3.00949 -4.5,5.80469v6l-2,2v1h6.26953c-0.17609,0.30389 -0.26905,0.64878 -0.26953,1c0,1.10457 0.89543,2 2,2c1.10457,0 2,-0.89543 2,-2c-0.00107,-0.35139 -0.09471,-0.6963 -0.27148,-1h6.27148v-1l-2,-2v-6c0,-2.7952 -1.91318,-5.1379 -4.5,-5.80469v-0.69531c0,-0.828 -0.672,-1.5 -1.5,-1.5zM12,6c2.206,0 4,1.794 4,4v6v0.82813l0.17188,0.17188h-8.34375l0.17188,-0.17187v-0.82812v-6c0,-2.206 1.794,-4 4,-4z"
                ></path>
              </g>
            </g>
          </svg>
          <span class="ml-4">Notifications</span>
        </a>
      </li>
      <li class="relative px-6 py-3 hover:bg-[#f2f2f285]">
        <a
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800"
          href="/modal"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z"
            ></path>
          </svg>
          <span class="ml-4">Modals</span>
        </a>
      </li>
      <li class="relative px-6 py-3 hover:bg-[#f2f2f285]">
        <a
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800"
          href="/projects"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M4 6h16M4 10h16M4 14h16M4 18h16"></path>
          </svg>
          <span class="ml-4">Project</span>
        </a>
      </li>
    </ul>
    <div class="px-6 my-6">
      <a
        href="/upload"
        class="flex items-center justify-between w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-[#001a34] border border-transparent rounded-lg active:bg-[#001a34] hover:bg-[#013467] focus:outline-none focus:shadow-outline-[#013467]"
      >
        Upload Project
        <span class="ml-2 text-md font-bold" aria-hidden="true">+</span>
      </a>
    </div>
  </div>
</aside>
